---
layout: default
title: Home
---


<div class="wrapper style1">
	<div class="inner">
    <!-- Feature 1 -->
      <section class="container box feature1">
        <div class="row">
          <div class="12u">
            <header class="first major">
              <h2>Security at your service</h2>
              <p>We offer a wide range of systems for burglar alarms,
								fire alarms, access control, central station monitoring, video surveillance,
								and more. Our trained sales personnel and technicians will work within your budget and provide the right solution <strong>for you</strong> ...</p>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="4u 12u(mobile)">
            <section>
              <a href="/business-security" class="image featured"><img src="images/officeworker.jpg" alt="" /></a>
              <header class="second icon fa-user">
                <h3>Business Security</h3>
                <p>Protect your business</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="/home-security" class="image featured"><img src="images/family.jpg" alt="" /></a>
              <header class="second icon fa-cog">
                <h3>Home Security</h3>
                <p>Protect your home</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="/monitoring" class="image featured"><img src="images/NOC.jpg" alt="" /></a>
              <header class="second icon fa-bar-chart-o">
                <h3>Monitoring Solutions</h3>
                <p>Get monitoring services</p>
              </header>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <p>Every customer, whether they be commercial, residential, or industrial gets individualized attention.
							We are proud to be the chosen security specialist for some of Charlotte's commercial facilities and residences.
							We are equally proud of the record of trust and reliability we have built with individual homeowners and businesses throughout the area.</p>
          </div>
        </div>
      </section>

  </div>
  </div>
  <div class="wrapper style2">
    <div class="inner">
      <!-- Feature 2 -->
        <section class="container box feature2">
          <div class="row">
            <div class="6u 12u(mobile)">
              <section>
                <header class="major">
                  <h2>Our Mission</h2>
                  <p>Why you should choose us over our competitors</p>
                </header>
                <p>We use our experience, knowledge and expertise in the field of Security and Private Investigations to develop,
								implement and install effective solutions that protect the homes, families and assets of our clients and the properties,
								inventory and employees of local businesses; while striving for excellence in service and value.</p>
                <footer>
                  <a href="/mission" class="button medium icon fa-arrow-circle-right">Learn More</a>
                </footer>
              </section>
            </div>
            <div class="6u 12u(mobile)">
              <section>
                <header class="major">
                  <h2>Our Partners</h2>
                  <p>The best companies in the security industry</p>
                </header>
                <p></p>
                <footer>
                  <a href="#" class="button medium alt icon fa-info-circle">Wait, what?</a>
                </footer>
              </section>
            </div>
          </div>
        </section>

      </div>
  </div>
  <div class="wrapper style3">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="8u 12u(mobile)">

            <!-- Article list -->
              <section class="box article-list">
                <h2 class="icon fa-file-text-o">Recent Posts</h2>
                {% for post in site.posts %}
                  <!-- Excerpt -->
                  <article class="box excerpt">
                  {% if post.image != null %}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="image left">
                    <img src={{ post.image }} alt="" /></a>
                    {% endif %}
                  <div>
                    <header>
                      <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><h3>
                    </header>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </article>
                {% endfor %}
              </section>
          </div>
          <div class="4u 12u(mobile)">

            <!-- Spotlight -->
              <section class="box spotlight">
                <h2 class="icon fa-file-text-o">Testimonial</h2>
                <article>
                  <a href="#" class="image featured"><img src="images/pic07.jpg" alt=""></a>
                  <header>
                    <h3><a href="#">Dain Roggenbaum</a></h3>
                    <p>A Google Review</p>
                  </header>
                  <p> We've been customers of Security Consult for over 6 years, and have genuinely enjoyed
										the professionalism and courtesy with which we are always treated. We have had other
										security companies before which, in comparison, fell short of our expectations.
										With Security Consult you can be rest assured that your family is not only safe,
										but your needs will be handled in a expeditious and honest manner.
										</p>
                  <p>We would highly recommend Security Consult for all of your security needs!</p>
                  <footer>
                    <a href="#" class="button alt icon fa-file-o">Continue Reading</a>
                  </footer>
                </article>
              </section>

          </div>
        </div>
      </div>
    </div>
  </div>



<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
