
<div class="wrapper style2">
	<div class="inner">
<form id="form" action="/process.php" method="post">
    <h2>Get in touch</h2>
    <p>Use the form below to get in touch, or give us a call on xxx-xxx-xxx</p>
    <!--fields-->
</form>

<div>
    <label for='name'>Name<span class='required'>(required)</span></label>
    <input type='text' name='name' placeholder='your name here' required />
</div>

<div>
    <label for='tel'>Tel</label>
    <input type='tel' name='tel' placeholder='your telephone here' />
</div>

<div>
    <label for='email'>Email <span class='required'>(required)</span></label>
    <input type='email' name='email' placeholder='you@yourdomain.com' required />
</div>

<div>
    <label for='url'>Website</label>
    <input type='url' name='website' placeholder='http://' />
</div>

<div>
    <label for='message'>Message <span class='required'>(required)</span></label>
    <textarea name='message' required></textarea>
</div>

<div>
    <button type='submit'>Send Message</button>
</div>
</div>
</div>
