
<!-- Footer Wrapper -->
  <div id="footer-wrapper">
    <footer id="footer" class="container">
      <div class="row">
        <div class="3u 12u(mobile)">

          <!-- Links -->
            <section>
              <h2>Home Services</h2>
              <ul class="divided">
                {% for node in site.filler %}
                <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                {% endfor %}
              </ul>
            </section>
            <section>
              <h2>Forms and User Manuals</h2>
              <ul class="divided">
                <li><a href="{{site.baseurl}}/forms/#forms">Download Forms</a></li>
                <li><a href="{{site.baseurl}}/forms/#UserManuals">Download User Manuals</a></li>
                <li><a href="{{site.baseurl}}/forms/#OtherManuals">Download Other Manuals</a></li>
              </ul>
            </section>
        </div>
        <div class="3u 12u(mobile)">

          <!-- Links -->
            <section>
              <h2>Business Services</h2>
              <ul class="divided">
                {% for node in site.more-filler %}
                <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                {% endfor %}
              </ul>
            </section>

          <!-- Links -->
            <section>
              <h2>Investigative</h2>
              <ul class="divided">
                {% for node in site.even-more-filler %}
                <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                {% endfor %}
              </ul>
            </section>

        </div>
        <div class="6u 12u(mobile)">

          <!-- About -->
            <section>
              <h2><strong>Security Consult, Inc</strong></h2>
              <a href="{{ site.baseurl }}/about-us/" class="image featured"><img src="{{ site.baseurl}}/images/logo.jpg" alt="" /></a>
              <a href="{{ site.baseurl }}/about-us/" class="button alt icon fa-info">About Us</a>
            </section>

          <!-- Contact -->
            <section>
              <h2>Get in touch</h2>
              <div>
                <div class="row">
                  <div class="6u 12u(mobile)">
                    <dl class="contact">
                      <dt class="icon fa-twitter"></dt>
                      <dd><a href="http://twitter.com/{{ site.data.contact.twitter }}">@{{ site.data.contact.twitter }}</a></dd>
                      <dt class="icon fa-facebook"></dt>
                      <dd><a href="http://facebook.com/{{ site.data.contact.facebook }}">facebook.com/{{ site.data.contact.facebook }}</a></dd>
                      <dt class="icon fa-google-plus"></dt>
                      <dd><a href="http://plus.google.com/+{{ site.data.contact.googleplus }}">+{{ site.data.contact.googleplus }}</a></dd>
                      <dt class="icon fa-globe"></dt>
                      <dd><a href="http://{{ site.data.contact.www }}">{{ site.data.contact.www }}</a></dd>
                      <dt class="icon fa-envelope"></dt>
                      <dd><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></dd>
                    </dl>
                  </div>
                  <div class="6u 12u(mobile)">
                    <dl class="contact">
                      <dt class="icon fa-map-marker"></dt>
                      <dd>
                        {{ site.data.contact.address.street1 }}<br />
                        {% if site.data.contact.address.street2 %}
                          {{ site.data.contact.address.street2 }}<br />
                        {% endif %}
                        {{ site.data.contact.address.city }}, {{ site.data.contact.address.state }} {{ site.data.contact.address.zip }}<br />

                      </dd>
                      <dt class="icon fa-phone"></dt>
                      <dd>{{ site.data.contact.phone }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </section>

        </div>
      </div>
      <div class="row">
        <div class="12u">
          <div id="copyright">
            <ul class="menu">
              <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>



<!-- Scripts -->

  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/skel-viewport.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>


<!--
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
-->
