<!-- Header -->
  <div id="header-wrapper">
    <div class="container">

      <!-- Header -->
        <header id="header">
          <div class="inner">

            <h1>  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl}}/images/logo.jpg" alt="{{ site.title }}" class="image block"/></a></h1>
            <nav id="nav">
              <ul>
<!--
              {% for node in site.header-links %}
                <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% endfor %}
-->
              <li>
                    <a href="{{ site.baseurl}}/home-services/">Home Services</a>
                    <ul>
                      {% for node in site.home_security %}
                      <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                      {% endfor %}
                    </ul>
              </li>
              <li>
										<a href="{{ site.baseurl}}/business-services/">Business Services</a>
										<ul>
                      {% for node in site.business_security %}
                      <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                      {% endfor %}
										</ul>
							</li>
              <li>
                    <a href="{{ site.baseurl}}/investigative/">Investigative</a>
                    <ul>
                      {% for node in site.investigative %}
                      <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                      {% endfor %}
                    </ul>
              </li>

                 <li><a href="{{site.baseurl}}/about-us/" class="button icon fa-info-circle">About Us</a></li>
              </ul>
            </nav>
          </div>
        </header>
        {% if page.title == 'Home' %}
          {% include banner.html %}
        {% endif %}
      </div>
    </div>
