<form action="http://formspree.io/brett.reasor@gmail.com" method='post'>
  <div class="row uniform">
    <div class="6u 12u(mobile)"><input type="text" name="name" id="name" placeholder="Name" /></div>
    <div class="6u 12u(mobile)"><input type="email" name="email" id="email" placeholder="Email" /></div>
  </div>
  <div class="row uniform">
    <div class="6u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
  </div>
  <div class="row uniform">
    <div class="6u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
  </div>
  <div class="row uniform">
    <div class="6u">
      <ul class="actions">
        <li><input type="submit" class="special" value="Send Message" /></li>
        <li><input type="reset" value="Reset Form" /></li>
      </ul>
    </div>
  </div>
</form>
