
 <section>
  <header class="major">
    <h2>Contact Us</h2>
  </header>
  <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
  Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
  Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
  consequat etiam.</p>

  <footer>
  <!--  <a href="#" class="button icon fa-info-circle">Find out more</a> -->

  </footer>
</section>


<section>
  <header class="major">
    <h2>Service Area</h2>
  </header>
  <ul class="style2">
    <li>Charlotte</li>
    <li>Matthews</li>
    <li>Gastonia</li>
    <li>Huntersville</li>
    <li>Midland</li>
    <li>Stanley</li>
    <li>Davidson</li>
    <li>Cornelius</li>
    <li>Cramerton</li>
  </ul>
  <footer>
    <!-- <a href="#" class="button icon fa-arrow-circle-o-right">Do Something</a> -->
  </footer>
</section>
