<section>
 <header class="major">
   <h2>Rates</h2>
 </header>
 <p>Residential, Commercial, Intrusion, Fire Alarm and Existing System Activation or Take-over.
   We offer a variation of monitoring rates to suit your needs.  We will find what works for you please call us for details.  </p>



 <!--  <a href="#" class="button icon fa-info-circle">Find out more</a> -->


 <ul class='default'>
   <li>Basic landline monitoring: $24.95</li>
   <li>Cellular Monitoring (primary or backup): $39.95</li>
   <li>Enhanced Cellular Services: $44.95+</li>
   <li>Remote arm/disarm, remote video, home automation<sup>&dagger;</sup>: $54.95+</li>
 </ul>
 <ul>
   <li><sup>&dagger;</sup> Requires Additional Equipment</li>
 </ul>

</section>


<section>
 <header class="major">
   <h2>Service Area</h2>
 </header>
 <ul class="default">
   <li>Charlotte</li>
   <li>Matthews</li>
   <li>Gastonia</li>
   <li>Huntersville</li>
   <li>Midland</li>
   <li>Stanley</li>
   <li>Davidson</li>
   <li>Cornelius</li>
   <li>Cramerton</li>
 </ul>
 <footer>
   <!-- <a href="#" class="button icon fa-arrow-circle-o-right">Do Something</a> -->
 </footer>
</section>
