<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="left-sidebar">

      <div id="page-wrapper">

      {% include header.html %}


      <div id="main-wrapper">">
        <div class="wrapper style2">
          <div class="inner">
            <div class="container">
              <div class="row">

                <div class="8u 12u(mobile) important(mobile)">
                    <span class="image featured"><img src="{{ site.baseurl }}/images/contact-us.jpg" alt="" /></span>
                  <div id="content" class="">
                    {{ content }}

                    <section>
                      <header>

                        <h2>Contact Us</h2>
                        <p>Please fill out the form below to request a security consultation with Security Consult Inc. We will respond to you soon.</p>

                      </header>

                    <form action="http://formspree.io/brett.reasor@gmail.com" method='post' id="contact-form">
                      <div class="row uniform">
                        <div class="12u"><input type="text" name="name" id="name" placeholder="Name" required /></div>
                      </div>
                      <div class="row uniform">
                        <div class="6u 12u(mobile)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                        <div class="6u 12u(mobile)"><input type="tel" name="phone" id="name" placeholder="Phone" /></div>
                      </div>
                      <div class="row uniform">
                        <div class="6u 12u(mobile)"><input type="text" name="address1" id="name" placeholder="Address Line 1" /></div>
                        <div class="6u 12u(mobile)"><input type="text" name="address2" id="subject" placeholder="Address Line 2" /></div>
                      </div>
                      <div class="row uniform">
                        <div class="4u 12u(mobile)"><input type="text" name="city" id="city" placeholder="City" /></div>
                        <div class="4u 12u(mobile)"><input type="text" name="state" id="state" placeholder="State" /></div>
                        <div class="4u 12u(mobile)"><input type="number" pattern="\d{5}-?(\d{4})?" name="zip" id="zip" placeholder="Zip" /></div>
                      </div>
                      <div class="row uniform">
                        <div class="12u"><input type="text" name="referral" id="referral" placeholder="Did anyone refer you to us?" /></div>
                      </div>
                      <div class="row uniform">
                        <div class="12u"><textarea name="message" id="message" placeholder="Tell us what you are looking for" rows="6"></textarea></div>
                      </div>
                      <div class="row uniform">
                        <div class="6u">
                          <ul class="actions">
                            <li><input type="submit" class="button medium icon fa-thumbs-up" value="Submit" /></li>
                            <li><input type="reset" class="button medium alt icon fa-thumbs-down" value="Reset" /></li>
                          </ul>
                        </div>
                      </div>
                    </form>



</section>

                  </div>
                </div>
                <div class="4u 12u(mobile)">
                  <div id="sidebar">
                    {% include sidebar_contact.html %}
                  </div>
                </div>
              </div>

              <!-- row content -->
            </div>
          </div>
        </div>

      </div>

      {% include footer.html %}

  </div>
  </body>

</html>
